@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1em;
  font-style: normal;
  color: #4e5830;
  overflow: hidden;
  background-image: url(../imagens/bg_fakebook.jpg);
  background-size: cover;
}

.box_login {
  width: 33%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px #cedca6;
  background-color: #b7ca81;
  box-shadow: 10px 10px 32px #89995b;
  border-radius: 2%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: rgba(183, 202, 129, 0.862745098);
}

.box_login h2 {
  color: #79884f;
  font-size: 3.7em;
  transition: color 0.3s ease;
  font-family: "Bebas Neue", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
  margin-top: 5px;
  margin-bottom: 10px;
}

.box_login h2:hover {
  color: #89995b;
}

.box_login form {
  color: #4e5830;
  margin-top: -15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form_login {
  width: 100%;
}

.box_login input {
  font-size: 0.8em;
  margin-top: 2px;
  margin-bottom: 7px;
  border-radius: 2%;
  font-family: "PT Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  text-align: center;
}

.form_login input[type=text],
input[type=email],
input[type=password] {
  width: 53%;
  padding: 4px;
  outline: none;
  color: #4e5830;
  border: 1px solid #abb985;
  border-radius: 4px;
  box-shadow: inset 3px 3px 10px #cedca6;
}

.botoes_login {
  margin-top: 33px;
}

.botoes_login a {
  color: white;
  font-size: 0.7em;
  margin-right: 55px;
  border-radius: 2.3px;
  border: solid 2px #abb985;
  background-color: #89995b;
  text-decoration: none;
  transition: background-color 0.3s ease;
  padding: 11px 24px;
  border-color: #89995b;
}

.botoes_login a:hover {
  background-color: #79884f;
}

.botoes_login input {
  color: white;
  border: solid 2px #abb985;
  background-color: #89995b;
  border-radius: 2.3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 3px 3px 14px #89995b;
  padding: 10.3px 38px;
}

.botoes_login input:hover {
  background-color: #79884f;
}

footer {
  font-size: 0.6em;
  color: #79884f;
  text-align: center;
  padding-top: 10px;
}

footer a {
  color: #4e5830;
}/*# sourceMappingURL=login.css.map */